<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
  <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="bookstoreWebapp" ng-controller="PageCtrl">
<toaster-container toaster-options="{'time-out': 0, 'close-button':true}"></toaster-container>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
  <div class="header">

    <ul class="nav nav-pills pull-right">
      <li ng-class="{active:isActive('/')}"><a ng-href="/#!/">Home</a></li>
      <li ng-class="{active:isActive('/books')}"><a ng-href="/#!/books">Books</a></li>
      <li ng-class="{active:isActive('/login')}"><a ng-if="!loggedIn()" ng-href="/#!/login">Login</a></li>
      <li ng-class="{active:isActive('/register')}"><a ng-if="!loggedIn()" ng-href="/#!/register">Register</a></li>
      <li role="presentation" class="dropdown" ng-if="loggedIn()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-href="/#!/profile">My profile</a></li>
          <li><a ng-href="/#!/orders">My orders</a></li>
          <li class="divider"></li>
          <li><a ng-href="/#!/" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
    <h3 class="text-muted">bookstoreWebapp</h3>
  </div>

  <div ng-view></div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> angularJS</p>
  </div>
</div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ng-table/ng-table.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/book.js"></script>
<script src="scripts/controllers/authentification.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/order.js"></script>
<script src="scripts/factories/book.js"></script>
<script src="scripts/factories/author.js"></script>
<!-- endbuild -->
</body>
</html>
